.header {
  font-family: Nunito;
  -webkit-box-shadow: 0 1px 5px #cfcece;
          box-shadow: 0 1px 5px #cfcece;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 999;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header div span {
  color: #8f8f8f;
}

.header .sideTwo {
  margin-right: 2rem;
  padding: 20px;
}

.header .sideTwo span {
  padding: 0 15px;
  font-size: 17px;
}

.header .sideTwo .logged .picture {
  background-color: #f8f8f8;
  color: #8f8f8f;
  border-radius: 50%;
  font-size: 30px !important;
}

.header .sideTwo .logged span:hover {
  -webkit-transform: none;
          transform: none;
  cursor: pointer;
}

.sideOne {
  margin: 0;
  padding: 0 1.2em;
}

.sideOne .list span {
  font-size: 25px;
}

.language {
  width: 50px;
  margin-left: 10px;
  border-radius: 17px;
  background: #f8f8f8;
  padding: 0 1.2em;
  line-height: 1.17;
  height: 35.45px;
}

.search {
  width: 240px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8f8f8;
  margin-left: 2.9rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 17px;
  border-radius: 17px;
}

.search input {
  line-height: 17px;
  font-size: 0.8rem;
  width: 90%;
  height: 20px;
  margin: 0;
  border: none;
  background: transparent;
  text-rendering: none;
  color: inherit;
}

.search input:focus {
  border: none !important;
  outline: transparent;
}

.search label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
}

.home-content {
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-content .main-menu {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 13px;
  font-family: Nunito;
  background-color: #fff;
  height: 86vh;
  width: 120px;
  border-right: 1px solid rgba(112, 112, 112, 0.192);
}

.home-content .main-menu .menu-list {
  width: 100%;
  height: 100px;
  color: #3a3a3a;
  border-bottom: 1px solid rgba(112, 112, 112, 0.192);
  padding: 5px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-content .main-menu .menu-list:hover {
  text-decoration: none;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.home-content .main-menu .menu-list:hover span {
  color: #3a3a3a !important;
}

.home-content .main-menu .menu-list span {
  font-size: 25px;
  color: #8f8f8f;
}

.home-content .main-menu .menu-list p {
  color: #3a3a3a !important;
  margin: 0;
  padding: 0;
}

.home-content .main-menu:hover {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.home-content .sub-menu {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  height: 100%;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  -webkit-box-shadow: 0 3px 30px rgba(158, 158, 158, 0.322);
          box-shadow: 0 3px 30px rgba(158, 158, 158, 0.322);
}

.hide {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  display: none;
}

.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hide-sub {
  -webkit-transform: translateX(-350px);
          transform: translateX(-350px);
  z-index: -1;
  position: absolute;
}

.border {
  border-radius: 0 20px 20px 0;
  -webkit-box-shadow: 0 3px 30px rgba(158, 158, 158, 0.322);
          box-shadow: 0 3px 30px rgba(158, 158, 158, 0.322);
}

.show-sub {
  position: absolute;
  left: 0;
}

.both {
  -webkit-transform: none;
          transform: none;
}

.none {
  position: absolute;
  -webkit-transform: translateX(-350px);
          transform: translateX(-350px);
}

.driver {
  width: 100%;
  z-index: 99999;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.driver .c-profile {
  text-align: center;
}

.driver .c-profile span {
  font-size: 60px;
  color: #8f8f8f;
}

.driver .c-profile p {
  padding: 0;
  margin: 0;
}

.driver .c-profile .email {
  font-size: 12px;
}

.driver .d-infos {
  padding: 10px;
}

.driver .d-infos p {
  padding: 0;
  margin: 7px;
}

.driver .sub-buttons {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.driver .sub-buttons button {
  font-size: 13px;
  margin: 5px;
}

.side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 40px;
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
  overflow-y: auto;
  height: 86vh;
}

.side .main-side {
  width: 100%;
}

.side .main-side .side-content {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side .main-side .side-content h1 {
  margin: 0 auto 0 0;
  font-size: 27px;
  font-weight: 500;
}

.side .main-side .side-content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side .main-side .side-content .buttons .add {
  color: #fff;
  padding: 8px 38px;
  font-weight: 700;
  border-radius: 50px;
  border: none;
  font-size: 13px;
  margin-right: 5px;
  background-color: #48494b;
}

.side .main-side .side-content .buttons .add:hover {
  text-decoration: none;
}

.side .main-side .side-content .buttons .select {
  z-index: 0;
  background-color: #48494b;
  padding: 0;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side .main-side .side-content .buttons .select .selected {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side .main-side .side-content .buttons .select .do {
  color: #fff;
  border-radius: 0 50px 50px 0;
  background: transparent;
  border: none;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side .main-side .side-content .buttons .select .do:hover {
  background-color: black;
}

.side .navLink {
  width: 100%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.192);
}

.side .navLink ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.side .navLink ul li {
  padding-right: 10px;
}

.side .navLink ul li .bigIcon {
  font-size: 26px;
}

.side .navLink ul li a {
  color: #8f8f8f;
  font-size: 19px;
  font-weight: inherit;
}

.bg {
  border: 1px solid rgba(0, 0, 0, 0.527);
  height: 27px !important;
  width: 180px !important;
  margin: 0 !important;
}

.div {
  border-radius: 17px;
  position: relative;
  width: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 0;
}

.div p {
  color: #8f8f8f;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.div:hover {
  background-color: #48494b;
  cursor: pointer !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.div:hover p {
  color: #fff !important;
}

.drop {
  width: 120%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 120% !important;
  border: 1px solid rgba(112, 112, 112, 0.192);
}

.drop ul {
  text-align: start;
  padding: 10px 0px !important;
  width: 100% !important;
}

.drop ul li {
  padding: 5px 15px !important;
  width: 100% !important;
}

.drop ul li:hover {
  background: #48494b;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer !important;
}

.drop ul li:hover a {
  color: #fff !important;
}

.drop ul li a {
  color: #8f8f8f;
  font-size: 13px !important;
  font-weight: inherit;
}

.drop ul li a:hover {
  text-decoration: none;
}

.not-drop {
  position: absolute;
  visibility: hidden;
  top: 50%;
}

.car-Content {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  width: 250px;
  height: 350px;
  position: relative;
  background-color: #fff;
  border-radius: 15px;
}

.car-Content .car {
  width: 100%;
  height: 60%;
}

.car-Content .car img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.car-Content .text-container {
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
  padding: 0 25px;
  width: 100%;
}

.car-Content .text-container .all-container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.car-Content .text-container .all-container input {
  width: 0;
  height: 0;
}

.car-Content .text-container .all-container .cnt {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(68, 67, 67, 0.637);
  border-radius: 5px;
}

.car-Content .text-container .all-container .checkmark {
  width: 7px;
  height: 10px;
  border: 1px solid #0a0202;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 6px;
  display: none;
}

.car-Content .text-container .all-container input:checked ~ .checkmark {
  width: 7px;
  z-index: 2;
  height: 12px;
  border: 1px solid #f5e9e9;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  display: block;
  top: 3px;
  left: 6px;
}

.car-Content .text-container .all-container input:checked ~ .cnt {
  background-color: #48494b;
}

.car-Content .text-container .all-container span {
  margin: 0 7px;
  font-size: 13px;
  color: #3a3a3a;
}

.time {
  font-size: 13px;
  color: #8f8f8f;
  margin-left: 40px;
}

.cars {
  height: 60vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding: 20px 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  width: 100%;
}

.status {
  background-color: #48494b;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 20px;
  left: -10px;
  border-radius: 50px;
  font-size: 13px;
  width: 100px;
}

.register {
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  -webkit-transform-origin: right;
          transform-origin: right;
  width: 100%;
  height: auto;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register form {
  -webkit-box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
          box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
  border-radius: 7px;
  position: relative;
  width: auto;
  padding: 20px;
  margin: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.register form label p {
  width: 178px;
  font-size: 15px;
  font-weight: bold;
  padding: 0 10px 0 0;
  margin: 0;
  text-align: right;
}

.register form label .input-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
  width: 300px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.register form label .input-content span {
  display: block;
  width: 10%;
  text-align: center;
  font-size: 20px;
  padding: 0;
  margin: 0;
  opacity: 1;
}

.register form label .input-content input {
  width: 90%;
  padding: 10px;
  font-size: 13px;
  height: 100%;
  background-color: transparent;
  border: none;
}

.register form label .input-content:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border: 1px solid rgba(184, 181, 181, 0.774);
  -webkit-box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
          box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
}

.register form label .input-content:hover span {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.register form .go-to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: auto;
  left: -25px;
}

.register form .go-to .btne {
  width: 50px;
  padding: 10px;
  margin: 3px;
  border-radius: 50px !important;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
  border: 1px solid rgba(112, 112, 112, 0.192);
  color: #8f8f8f;
}

.register form .go-to .btne:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #212529;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
          box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
}

.registerd-car {
  margin: auto;
  width: 90%;
  padding: 50px 0;
  font-size: 14px;
  color: #3a3a3a;
  font-weight: normal;
}

.registerd-car table {
  background-color: #fff;
  border-radius: 8px !important;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
          box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
}

.registerd-car table .thead-bg {
  border: none;
}

.registerd-car table .thead-bg th {
  font-weight: 510;
}

.registerd-car table .thead-bg th i {
  font-size: 20px;
}

.registerd-car table tbody {
  background-color: #f8f8f8;
}

.registerd-car table tbody tr {
  cursor: pointer;
}

.registerd-car table tbody tr:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  background-color: #f3f3f3;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(163, 162, 162, 0.185);
          box-shadow: 1px 1px 10px 2px rgba(163, 162, 162, 0.185);
}

.registerd-car table tbody td {
  vertical-align: 0;
}

.registerd-car table tbody td button {
  font-size: 13px !important;
}

.registerd-car table tbody td .btn-dark {
  z-index: 999 !important;
}

.registerd-car table tbody tr th {
  vertical-align: 0;
}

.registerd-car table tbody tr td .nameLink {
  color: #3a3a3a;
}

.registerd-car table tbody tr td .nameLink:hover {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url("./Nunito_Sans/NunitoSans-Regular.ttf") format("truetype");
}

html {
  overflow: hidden;
}

body {
  background-color: #f8f8f8 !important;
  font-size: 16px;
  font-family: Nunito;
  color: #3a3a3a;
}

span:hover {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #3a3a3a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

input:focus {
  border: none !important;
  outline: transparent;
}

.scroll-bar {
  overflow-y: scroll;
}

.scroll-bar::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.scroll-bar:hover::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(201, 197, 197, 0.198);
}

.scroll-bar:hover::-webkit-scrollbar-thumb {
  background-color: #a8a8a896;
  border-radius: 10px;
}

.paginate {
  width: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginate .pagination {
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(112, 112, 112, 0.192);
  color: #8f8f8f;
  background-color: transparent;
}

.paginate .pagination:hover {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  color: #3a3a3a;
  border: 1px solid #3a3a3a;
  background-color: #eeeeee;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.on-page {
  color: #3a3a3a !important;
  border: 1px solid #b4b3b3 !important;
  background-color: #f8f8f8 !important;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
          box-shadow: 1px 1px 10px 2px rgba(177, 176, 176, 0.185);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=App.css.map */